$primarycolour: #1a5c64;
$secondarycolour: azure;
$tertiarycolour: #ff4500;
$white: white;
$success: green;
$light-primary: #57bbc7;
$round-corner: 5px;
$smallpad: 5px;
$smallshadow: 2px 2px 20px powderblue;
