@media screen and (max-width: 768px) {
  .display {
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .stack {
    width: 70vw;
  }
}
body {
  margin: 0;
}

button {
  border: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.f-screen {
  height: 100vh;
  padding: 10px;
  background-color: #1a5c64;
}

.flex {
  display: flex;
  flex-direction: column;
}

@keyframes pop {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(100%, 100%);
  }
}
@keyframes clear {
  from {
    transform: scale(100%, 100%);
  }
  to {
    transform: scale(0, 0);
  }
}
.gamepage {
  background-color: azure;
  height: 100vh;
  overflow: auto;
}
.gamepage .wrap {
  padding: 8px;
}
.gamepage #home-btn {
  color: white;
  font-size: 25px;
}
.gamepage .head > h4, .gamepage .head > h5 {
  margin: 0;
}
.gamepage .head .title {
  color: #1a5c64;
}
.gamepage .head .timer {
  margin: 20px 0 20px 0;
}
.gamepage .head .timer > h5 {
  color: #1a5c64;
  display: inline-block;
}
.gamepage .head .timer .time {
  float: right;
  color: #ff4500;
  font-weight: bold;
  display: inline-block;
  font-size: larger;
}
.gamepage .game table {
  width: 100%;
  border-collapse: collapse;
}
.gamepage .game table .fixed {
  border: 1px solid #ff4500;
}
.gamepage .game table td {
  border: 1px solid #1a5c64;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
}
.gamepage .game table td:hover {
  background-color: #1a5c64;
  color: azure;
}
.gamepage .game table td:focus {
  background-color: #ff4500;
  color: azure;
}
.gamepage .game .keypad {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  margin-top: 20px;
  justify-content: center;
}
.gamepage .game .keypad .keys {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #1a5c64;
  color: azure;
  margin: 5px;
  cursor: pointer;
}
.gamepage .game .keypad .bright {
  background-color: #ff4500;
}
.gamepage .game .function {
  margin-top: 2px;
  text-align: center;
}
.gamepage .game .function .reload {
  font-size: 20px;
  color: #ff4500;
}
.gamepage .game .mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  position: fixed;
}
.gamepage .game .mask .clear {
  /* animation-name: clear;
   animation-duration: .1s;*/
}
.gamepage .game .mask .pop {
  animation-name: pop;
  animation-duration: 0.5s;
}
.gamepage .game .mask .wrap {
  margin: auto;
  padding: 50px;
  text-align: center;
  background: white;
  border-radius: 10px;
}
.gamepage .game .mask .wrap .box {
  padding: 5px;
  margin-top: 30px;
}
.gamepage .game .mask .wrap .box .confirm {
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.gamepage .game .mask .wrap .box .yes {
  background-color: #ff4500;
  margin-left: 15px;
}
.gamepage .game .mask .wrap .box .no {
  background-color: black;
}
.gamepage .game .mybtn {
  background-color: #1a5c64;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
.gamepage .info {
  text-align: center;
  background-color: #ffd78f;
  padding: 7px;
  color: #ff4500;
}

body {
  background-image: url(../wwwroot/back.jpg);
}

.landingpage {
  background-color: azure;
  height: 100vh;
}
.landingpage .wrap {
  padding: 5px;
  overflow: auto;
}
.landingpage h1 {
  color: #1a5c64;
}
.landingpage h2 {
  color: #ff4500;
}
.landingpage .name {
  margin-top: 40px;
  text-align: center;
}
.landingpage .name input {
  padding: 8px;
  color: #1a5c64;
  background: azure;
  border-radius: 5px;
  border: 1px solid #1a5c64;
}
.landingpage .name i {
  color: #ff4500;
  margin: auto;
  margin-right: 5px;
}
.landingpage .name .contbtn {
  padding: 10px 10px;
  color: azure;
  background-color: #1a5c64;
}
.landingpage .name .contbtn i {
  color: azure;
}
.landingpage .other-content {
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.landingpage .other-content p label select {
  padding: 10px;
  border: 2px solid azure;
  border-radius: 5px;
  background-color: #1a5c64;
  color: azure;
  margin-top: 5px;
}
.landingpage .other-content button {
  background-color: #ff4500;
  padding: 15px 25px;
}
.landingpage button {
  padding: 14px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  background: #1a5c64;
  color: white;
  border: none;
}
.landingpage .hist {
  margin: 5px;
  margin-top: 50px;
  text-align: center;
  color: #1a5c64;
}
.landingpage .history {
  color: #1a5c64;
  overflow: auto;
}
.landingpage .history .wrap {
  margin: auto;
}
.landingpage .history .wrap table tr td {
  outline: 1px solid #1a5c64;
  white-space: nowrap;
  text-align: center;
  padding: 2px 5px;
}
.landingpage .hide {
  display: none;
}

.levelcompleted {
  height: 100vh;
  background-color: #69bba2;
  display: flex;
  flex-direction: column;
}
.levelcompleted #home-btn {
  color: azure;
  font-size: 25px;
  margin: 10px 0 -28px 10px;
}
.levelcompleted .wrap {
  padding: 10px;
  margin: auto;
}
.levelcompleted .wrap .cover {
  text-align: center;
  margin: auto;
}
.levelcompleted .wrap .cover .circle {
  border-radius: 50%;
  margin: auto;
  border: 1px solid azure;
  width: 310px;
  height: 310px;
  box-shadow: 2px 2px 20px powderblue;
  background-color: azure;
  display: flex;
  flex-direction: column;
}
.levelcompleted .wrap .cover .circle .circle-al {
  margin: auto;
}
.levelcompleted .wrap .cover .circle .circle-al h1 {
  color: green;
  margin-top: 20px;
}
.levelcompleted .wrap .cover .circle .circle-al h1 b {
  letter-spacing: 3px;
}
.levelcompleted .wrap .cover .circle .circle-al #suc {
  font-size: 50px;
  color: green;
  display: block;
}
.levelcompleted .wrap .cover .circle .circle-al h4 {
  margin-bottom: 20px;
}
.levelcompleted .wrap .cover .circle .circle-al .score {
  margin-top: 10px;
  color: #ff4500;
}
.levelcompleted .wrap .cover .circle .circle-al .high-score {
  color: #1a5c64;
}
.levelcompleted .wrap .cover .cont {
  border-radius: 5px;
  color: white;
  background-color: #ff4500;
  border: none;
  padding: 15px 15px;
  margin-top: 20px;
}

.leveltimeout {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f3cec1;
}
.leveltimeout #home-btn {
  color: white;
  font-size: 25px;
  margin-bottom: -28px;
}
.leveltimeout .wrap {
  margin: auto;
}
.leveltimeout .wrap .cover {
  text-align: center;
  margin: auto;
}
.leveltimeout .wrap .cover .circle {
  border-radius: 50%;
  margin: auto;
  border: 1px solid azure;
  height: 310px;
  width: 310px;
  box-shadow: 2px 2px 20px #c16c6c;
  background-color: azure;
  display: flex;
}
.leveltimeout .wrap .cover .circle .circle-al {
  margin: auto;
}
.leveltimeout .wrap .cover .circle .circle-al h1 {
  color: #ff4500;
  margin-top: 20px;
}
.leveltimeout .wrap .cover .circle .circle-al h1 b {
  letter-spacing: 3px;
}
.leveltimeout .wrap .cover .circle .circle-al #fail {
  font-size: 50px;
  color: #ff4500;
  display: block;
}
.leveltimeout .wrap .cover .circle .circle-al h4 {
  margin-bottom: 20px;
}
.leveltimeout .wrap .cover .circle .circle-al .score {
  margin-top: 10px;
  color: #ff4500;
}
.leveltimeout .wrap .cover .circle .circle-al .high-score {
  color: #1a5c64;
}
.leveltimeout .wrap .cover .cont {
  border-radius: 5px;
  color: white;
  background-color: #ff4500;
  border: none;
  padding: 15px 15px;
  margin-top: 20px;
}
